// VARIABLES
//////////////////////////////
$font:              'Helvetica';
$font-size:         16pt;

$font-color:        black;
$font-color-dim:    #777;
$link-color:        #6689ff;

$bg-color:          white;
$bg-dim:            #ccc;

$nav-color:         #d1d1d1;

$border-light:      #aaa;
$focus-color:       blue;

// -- Transitions --
$TFade:             all 0.2s ease;
